body {
  background-color: gray;
}

input[type=text] {
    width: 50%;
    padding: 6px 6px;
    margin: 4px 0;
    font-size: 20px;
    box-sizing: border-box;
}

button {
    background-color: white;
    border: none;
    color: black;
    font-size: 26px;
}

button:hover {
  background-color: black;
  color: white;
}

.clicked {
  text-decoration: none;
}

.unclicked {
  text-decoration: underline;
}

.imagetest {
  background: url('../../assets/cyberman.jpg');
}

.wsjHeader {
  text-align: center;
}

.filterBar {
  text-align: center;
}

.searchBar {
  margin: 20px 0 20px 0;
}

.individualArticle {
  text-align: center;
  float: left;
  margin: 20px;
  border: 1px solid white;
  padding: 5px;
  width: 300px;
  height: 300px;
  position: relative;
}

.individualArticle:hover {
  background: black;
}

.articleHeader {
  text-align: center;
  color: white;
  width: 310px;
  margin-left: -5px;
  border-top: 2px double white;
  border-bottom: 2px double white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.articleSummary {
  color: white;
}

.allArticles {
  margin-left: 120px;
}

.categoryLabel {
  margin-left: 20px;
}

.moreInfoButton {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
}

.articleImage {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 10px;
}

/* .articleImage {
  animation: articleImage-spin infinite 30s linear;
  border-radius: 200px;
}

@keyframes articleImage-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
